/* Cntrl-F/src/contentScript/contentScript.css */

/* .overlay-card {
  position: fixed;
  left: 5%;
  top: 15%;
  z-index: 99999;
} */

/* max-width: 240px; */
/* max-height: 240px; */
/* background-color: #f5f5f5 !important; */
/* background-color: red !important; */
