/* src/contentScripts/layover/styles.css */

#ctrl-f-search-input button,
#ctrl-f-search-input input[type='submit'],
#ctrl-f-search-input input[type='reset'] {
  background: none !important;
  color: inherit !important;
  border: none !important;
  padding: 0 !important;
  margin: 0 !important;
  font: inherit !important;
  cursor: pointer !important;
  outline: inherit !important;
}

#ctrl-f-search-input .overlay-wrapper {
  font-family: sans-serif !important;
  /* background-color: rgba(17, 24, 39, 0.9) !important; */
  border-radius: 6px !important;
  /* isolation: isolate !important; */
}

#ctrl-f-search-input .form-wrapper {
  width: 100% !important;
  height: 100% !important;
  /* background-color: rgba(17, 24, 39, 0.9) !important; */
  /* background-color: #69757b !important; */
  /* background-color: rgba(5, 5, 5, 0.9) !important; */
  background-color: rgba(18, 18, 18, 0.9) !important;
  /* background-color: rgba(20, 20, 20, 0.9) !important; */
  border-radius: 6px !important;
  margin: 0px !important;
  display: grid !important;
  padding: 2px 0px !important;
  color: #ffffff !important;
  grid-template-columns: repeat(4, minmax(0, 1fr)) !important;
  isolation: isolate !important;
  align-items: center !important;
}

#ctrl-f-search-input input {
  margin: 0px !important;
}

/* #ctrl-f-search-input .form-div {
  display: grid !important;
  position: relative !important;
  grid-template-columns: repeat(6, minmax(0, 1fr)) !important;
  grid-column: span 3 / span 3 !important;
  gap: 0 !important;
} */

#ctrl-f-search-input .mag {
  position: absolute !important;
  top: 46.5% !important;
  left: 15px !important;
  width: 16px !important;
  height: 16px !important;
  /* background-size: 6px 6px !important; */
  /* background-color: red !important; */
  transform: translateY(-50%) !important;
  pointer-events: none !important;
  /* fill: #9ca3af !important; */
}
/*
#ctrl-f-search-input .mag.placeholder {
  /* color: #9ca3af !important; */
  /* fill: none; */
  fill: #9ca3af !important;
}

#ctrl-f-search-input .mag.active {
  /* display: hidden !important; */
  fill: none !important;
} */

#ctrl-f-search-input .input-style {
  display: block !important;
  padding-top: 8px !important; /* 0.5 * 16 = 8 */
  padding-bottom: 8px !important; /* 0.5 * 16 = 8 */
  padding-left: 14px !important; /* 0.875 * 16 = 14 */
  padding-right: 14px !important; /* 0.875 * 16 = 14 */
  background-color: transparent !important;
  color: #ffffff !important;
  font-size: 16px !important; /* 1 * 16 = 16 */
  line-height: 24px !important; /* 1.5 * 16 = 24 */
  width: 100% !important;
  border-radius: 6px !important; /* 0.375 * 16 = 6 */
  border-width: 0 !important;
  border-color: transparent !important;
  grid-column-start: 1 !important;
  grid-column-end: 6 !important;
}

#ctrl-f-search-input .input-style:focus {
  border-color: transparent !important;
  outline: none !important;
}

#ctrl-f-search-input .matching-counts-wrapper {
  display: flex !important;
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
  padding-right: 12px /*0.75rem */ !important;
  align-items: center !important;
  pointer-events: none !important;
}

#ctrl-f-search-input .matching-counts {
  /* color: #6b7280 !important; */
  color: #9ca3af !important;

  font-size: 16px !important;
  line-height: 24px !important;
  /* color: #ffffff !important; */
}

/* #ctrl-f-search-input .matching-counts.placeholder {
  color: #9ca3af !important;
} */

#ctrl-f-search-input .matching-counts.active {
  color: #ffffff !important;
}

#ctrl-f-search-input .hidden {
  display: none !important;
}

#ctrl-f-search-input .btn-group {
  display: flex !important;
  justify-content: space-evenly !important;
  align-items: center !important;
}

/* #ctrl-f-search-input .divider-x {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  border-color: #6b7280 !important;
  border-left-width: 1px !important;
  height: 28px !important;
  border-left-style: double !important;
} */

/* #ctrl-f-search-input .btn-icon {
  height: 20px !important;
  width: 20px !important;
} */

/* #ctrl-f-search-input .next-prev-btn {
  display: inline-flex !important;
  padding: 0.125rem !important;
  color: #ffffff !important;
  border-radius: 9999px !important;
} */

/* #ctrl-f-search-input .next-prev-btn:hover {
  background-color: #6b7280 !important;
} */

#ctrl-f-search-input .next-prev-btn:active {
  border-radius: 9999px !important;
}

#ctrl-f-search-input .next-prev-btn:disabled {
  color: #9ca3af !important;
  /* pointer-events: none; */
  cursor: default !important;
}

#ctrl-f-search-input .next-prev-btn:disabled:hover,
#ctrl-f-search-input .next-prev-btn:disabled:active {
  /* background-color: inherit; */
  background-color: transparent !important;
  color: #9ca3af !important;
  cursor: pointer !important;
}

#ctrl-f-search-input .sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  whitespace: nowrap !important;
  borderwidth: 0 !important;
}

/* #ctrl-f-search-input .x-mark-btn {
  display: inline-flex !important;
  padding: 0.125rem !important;
  color: #ffffff !important;
  border-radius: 9999px !important;
} */

/* #ctrl-f-search-input .x-mark-btn:hover {
  background-color: #6b7280 !important;
  color: #f87171 !important;
} */
